<div class="email-wrapper container">
  <div class="row logo">
    <img src="<%= public_url(email.logo) %>" style="max-width: 1000px;" class="logo"/>
  </div>
  <div class="row banner">
    <img src="<%= public_url(email.banner) %>" style="max-width: 1000px;" class="banner"/>
  </div>
</div>
