<div class="modal fade" id="selectEmailModal" tabindex="-1" aria-labelledby="selectEmailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="alert alert-info" role="alert">
        <p class="m0">Switch to <%= email.name %></p>
      </div>
      <div class="modal-body row">
        <p>Are you sure you want to choose <%= email.name %> as the theme of your referral program?</p>

        <p>You can switch your theme at any time.</p>
      </div>
      <div class="modal-footer">
        <p>
          <button type="button" class="filled-form-btn btn w85 form-button" data-bs-dismiss="modal">Cancel</button>
        </p>
        <p>
          <%= button_to "Switch To #{email.name}",
            activate_current_admin_email_performa_path(email), method: 'put', class: "filled-form-btn btn form-button",
            remote: true, "data-bs-dismiss": "modal", params: {email_performa: {active: true}}
          %>
        </p>
      </div>
    </div>
  </div>
</div>
