.email-wrapper {
  width: 350px;
  height: 500px;
  display: inline-block;
  margin: 10px 25px;
  padding: 10px;
  box-shadow: 0 8px 25px 0 rgba(57, 160, 236, 0.32);
  .div_logo {
    height: 20%;
    width: 100%;
    margin: 10px 0px;
  }
  .logo {
    width: 25%;
    max-height: 100%;
    margin: 0 auto;
    padding: 5px;
  }
  .div_banner {
    width: 100%;
    height: 60%;
    margin: 10px 0px;
  }
  .banner {
    max-height: 100%;
    padding: 5px;
  }
  .email-actions {
    height: 20%;
    width: 100%;
    margin: 0px;
  }
  .div_action {
    width: 30%;
  }
  .action {
    background-image: none;
  }
}
